body {
  margin: 0;
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* .libertinus-serif-display-regular {
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
